In [2]:
from datetime import datetime, timedelta
from src.collect_price_data import collect_price_data
from src.format_price_data import format_price_data
from src.collect_sentiment_data import collect_sentiment_data
# Get the current date and time
current_date = datetime.now()

# Calculate yesterday's date by subtracting one day
yesterday_date = current_date - timedelta(days=1)

# Calculate the date from 4 years ago
years_ago = 4
five_years_ago = current_date - timedelta(days=365 * years_ago)

# Set the start date and end date for the data retrieval
start_date =  five_years_ago.strftime('%Y-%m-%d')
end_date = yesterday_date.strftime('%Y-%m-%d')

# Define the time period for historical data (start date, end date)
time_period = (start_date, end_date)

# List of stock tickers for analysis
tickers = [ "AAPL", "META", "JPM", "JNJ", "AMT"]

# Load historical price data for the specified tickers and time period
price_data = collect_price_data(tickers, time_period) 

# Format price_data
formated_price_data = format_price_data(price_data)

formated_price_data.head()

,close,high,low,trade_count,open,volume,vwap,symbol
timestamp,,,,,,,,
2019-10-14 08:00:00+00:00,236.40,236.65,236.02,53,236.650,3161,236.395463,AAPL
2019-10-14 09:00:00+00:00,234.37,236.13,233.80,277,236.130,30631,234.741837,AAPL
2019-10-14 10:00:00+00:00,235.00,235.00,234.16,78,234.410,9244,234.648556,AAPL
2019-10-14 11:00:00+00:00,236.22,236.22,234.72,514,234.720,73252,235.446287,AAPL
2019-10-14 12:00:00+00:00,235.85,236.30,234.90,813,235.818,113045,235.890449,AAPL

In [3]:
# Load the news data for the specified tickers and time period
# Note: this step will take approximately 39 minutes
news_data = collect_sentiment_data(tickers, time_period)
news_data.head()

,Ticker,Date,Title
0,AAPL,2019-10-13 14:42:18+00:00,Can Netflix Deliver A Hit After Q2 Subscriber ...
1,AAPL,2019-10-14 16:46:22+00:00,A Look At Benzinga Pro's Most-Searched Tickers...
2,AAPL,2019-10-14 15:03:19+00:00,Benzinga Pro's Top 10 Most-Searched Tickers Fo...
3,AAPL,2019-10-14 14:47:35+00:00,Stocks That Hit 52-Week Highs On Monday
4,AAPL,2019-10-14 14:13:59+00:00,UBS On Apple Also Notes 'A stronger sell-throu...